<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信H5支付回调</title>
</head>
<body>
    <div id="transaction_id" style="display: none">订单号</div>
    <div>支付是否已经完成（官方推荐由用户点击是否完成，因为用户取消支付也会跳转此页面，最好用模态层弹出）</div>
    <button id="success">完成支付</button>
    <button>取消支付</button>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $("#success").click(function(){
        // 根据订单号查询订单状态
        $.ajax({
            url: "/wx/orderStatus",
            dataType: 'json',
            data: {
                transactionId: $("#transaction_id")
            },
            success: function( result ) {
                if (result.code == 0) {
                    alert('订单支付成功');
                } else {
                    alert('订单支付失败');
                }
            }
        });
    });

</script>